.wallet-connection {
    display: flex;
    align-items: center;
  }
  
  button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  p {
    margin: 0;
    font-size: 14px;
    color: white; /* Ajusta el color del texto para que sea visible en la navbar */
  } 
  