<div class="container my-5">
  <h1>ENVIOS ETH</h1>
    <div>
      <div class="form-group">
        <label for="toAddress" class="form-label"
          >Dirección del destinatario:</label
        >
        <input
          type="text"
          class="form-control"
          id="toAddress"
          [(ngModel)]="recipientAddress"
          placeholder="Dirección"
        />
      </div>

      <div class="form-group">
        <label for="amount" class="form-label">Cantidad a depositar ETH:</label>
        <input
          type="text"
          class="form-control"
          id="amount"
          [(ngModel)]="amount"
          placeholder="Cantidad"
        />
      </div>
    </div>
    <button class="btn btn-primary" (click)="deposit()">Depositar</button>
</div>
  
<!-- 
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="amount" class="form-label">Cantidad a depositar:</label>
      <input
        type="text"
        class="form-control"
        id="amount"
        [(ngModel)]="amount"
        placeholder="Cantidad"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label for="recipientAddress" class="form-label"
        >Dirección del destinatario:</label
      >
      <input
        type="text"
        class="form-control"
        id="recipientAddress"
        [(ngModel)]="recipientAddress"
        placeholder="Dirección"
      />
    </div>
  </div>
  <button class="btn btn-primary" (click)="deposit()">Depositar</button>
</div>
-->